:root {
  --col-white: #ffffff;
  --col-white-soft: #f8f8f8;
  --col-white-mute: #f2f2f2;

  --col-black: #181818;
  --col-black-soft: #222222;
  --col-black-mute: #282828;

  --col-indigo: #2c3e50;

  --col-divider-light-1: rgba(60, 60, 60, 0.29);
  --col-divider-light-2: rgba(60, 60, 60, 0.12);
  --col-divider-dark-1: rgba(84, 84, 84, 0.65);
  --col-divider-dark-2: rgba(84, 84, 84, 0.48);

  --col-text-light-1: var(--col-indigo);
  --col-text-light-2: rgba(60, 60, 60, 0.66);
  --col-text-dark-1: var(--col-white);
  --col-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
  --color-background: var(--col-white);
  --color-background-soft: var(--col-white-soft);
  --color-background-mute: var(--col-white-mute);

  --color-border: var(--col-divider-light-2);
  --color-border-hover: var(--col-divider-light-1);

  --color-heading: var(--col-text-light-1);
  --color-text: var(--col-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--col-black);
    --color-background-soft: var(--col-black-soft);
    --color-background-mute: var(--col-black-mute);

    --color-border: var(--col-divider-dark-2);
    --color-border-hover: var(--col-divider-dark-1);

    --color-heading: var(--col-text-dark-1);
    --color-text: var(--col-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}
